<a href="https://colab.research.google.com/github/Ismar-Vicente/DataScience/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [ ]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [ ]:
black_friday.shape

(537577, 12)

In [ ]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [ ]:
int(pd.Series((black_friday['Age']=='26-35') & (black_friday['Gender']=='F')).sum())

49348

In [ ]:
def q2():
    return int(pd.Series((black_friday['Age']=='26-35') & (black_friday['Gender']=='F')).sum())

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [ ]:
int(black_friday.nunique()[0])

5891

In [ ]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return int(black_friday.nunique()[0])

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [ ]:
len(black_friday.dtypes)

12

In [ ]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return len(black_friday.dtypes)

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [ ]:

#x=sum([True for idx,row in black_friday.iterrows() if any(row.isnull())]) / black_friday.User_ID.count().astype(float)
#print(x)

0.6944102891306734

In [ ]:
def q5():
    # Retorne aqui o resultado da questão 5.
    return sum([True for idx,row in black_friday.iterrows() if any(row.isnull())]) / black_friday.User_ID.count().astype(float)

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [ ]:
print(int(max(black_friday.isnull().sum())))

373299

In [ ]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return print(int(max(black_friday.isnull().sum())))

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [ ]:
black_friday.groupby('Product_Category_3').Product_Category_3.count().idxmax(axis=1)

16.0

In [ ]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday.groupby('Product_Category_3').Product_Category_3.count().idxmax(axis=1)

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [ ]:
black_friday.head(2)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200

In [ ]:
#(black_friday-black_friday.mean())/black_friday.std()
((black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std()).mean()

-9.043975390106449e-17

In [ ]:
def q8():
    # Retorne aqui o resultado da questão 8.
    return ((black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std()).mean()

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [ ]:
pd.Series(((black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std() >= -1) & ((black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std() <= 1)).sum()

348631

In [ ]:
def q9():
    # Retorne aqui o resultado da questão 9.
    return int(pd.Series(((black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std() >= -1) & ((black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std() <= 1)).sum())

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [ ]:
all((black_friday['Product_Category_2'].isnull()) & (black_friday['Product_Category_3'].isnull()))
#(black_friday['Product_Category_2'].isnull()) & (black_friday['Product_Category_3'].isnull())

False

In [ ]:
def q10():
    # Retorne aqui o resultado da questão 10.
    return all((black_friday['Product_Category_2'].isnull()) & (black_friday['Product_Category_3'].isnull()))