<a href="https://colab.research.google.com/github/Ismar-Vicente/DataScience/blob/master/Olimpiadas2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 4

Neste desafio, vamos praticar um pouco sobre testes de hipóteses. Utilizaremos o _data set_ [2016 Olympics in Rio de Janeiro](https://www.kaggle.com/rio2016/olympic-games/), que contém dados sobre os atletas das Olimpíadas de 2016 no Rio de Janeiro.

Esse _data set_ conta com informações gerais sobre 11538 atletas como nome, nacionalidade, altura, peso e esporte praticado. Estaremos especialmente interessados nas variáveis numéricas altura (`height`) e peso (`weight`). As análises feitas aqui são parte de uma Análise Exploratória de Dados (EDA).

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns

In [ ]:
#%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

In [ ]:
athletes = pd.read_csv('athletes.csv')

In [ ]:
athletes.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0

In [ ]:
def get_sample(df, col_name, n=100, seed=42):
    """Get a sample from a column of a dataframe.
    
    It drops any numpy.nan entries before sampling. The sampling
    is performed without replacement.
    
    Example of numpydoc for those who haven't seen yet.
    
    Parameters
    ----------
    df : pandas.DataFrame
        Source dataframe.
    col_name : str
        Name of the column to be sampled.
    n : int
        Sample size. Default is 100.
    seed : int
        Random seed. Default is 42.
    
    Returns
    -------
    pandas.Series
        Sample of size n from dataframe's column.
    """
    np.random.seed(seed)
    
    random_idx = np.random.choice(df[col_name].dropna().index, size=n, replace=False)
    
    return df.loc[random_idx, col_name]

## Inicia sua análise a partir daqui

In [ ]:
# Sua análise começa aqui.

## Questão 1

Considerando uma amostra de tamanho 3000 da coluna `height` obtida com a função `get_sample()`, execute o teste de normalidade de Shapiro-Wilk com a função `scipy.stats.shapiro()`. Podemos afirmar que as alturas são normalmente distribuídas com base nesse teste (ao nível de significância de 5%)? Responda com um boolean (`True` ou `False`).

In [ ]:
str(athletes['height'])

'0        1.72\n1        1.68\n2        1.98\n3        1.83\n4        1.81\n         ... \n11533    1.64\n11534    1.73\n11535    1.85\n11536    1.60\n11537    1.85\nName: height, Length: 11538, dtype: float64'

In [ ]:
h_amostra = get_sample(athletes, 'height', 3000)
w_amostra = get_sample(athletes, 'weight', 3000)

In [ ]:
#import scipy.stats as sct
teste_shapiro = sct.shapiro(h_amostra)
print(teste_shapiro[1])

5.681722541339695e-07

In [ ]:
if teste_shapiro[1] > 0.05:
    resp = True
else:
    resp = False
    
print(resp)

False

In [ ]:
def q1():
    if teste_shapiro[1] > 0.05:
        return True
    else:
        return False

In [ ]:
q1()

False

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Plote o qq-plot para essa variável e a analise.
* Existe algum nível de significância razoável que nos dê outro resultado no teste? (Não faça isso na prática. Isso é chamado _p-value hacking_, e não é legal).

## Questão 2

Repita o mesmo procedimento acima, mas agora utilizando o teste de normalidade de Jarque-Bera através da função `scipy.stats.jarque_bera()`. Agora podemos afirmar que as alturas são normalmente distribuídas (ao nível de significância de 5%)? Responda com um boolean (`True` ou `False`).

In [ ]:
teste_jarque = sct.jarque_bera(h_amostra)
print(teste_jarque[1])

0.001478366424594868

In [ ]:
def q2():
    if teste_jarque[1] > 0.05:
        return True
    else:
        return False

__Para refletir__:

* Esse resultado faz sentido?

## Questão 3

Considerando agora uma amostra de tamanho 3000 da coluna `weight` obtida com a função `get_sample()`. Faça o teste de normalidade de D'Agostino-Pearson utilizando a função `scipy.stats.normaltest()`. Podemos afirmar que os pesos vêm de uma distribuição normal ao nível de significância de 5%? Responda com um boolean (`True` ou `False`).

In [ ]:
teste_pearson = sct.normaltest(w_amostra)
print(teste_pearson)
print(teste_pearson[1])

NormaltestResult(statistic=510.24655809881176, pvalue=1.5898922918029537e-111)
1.5898922918029537e-111

In [ ]:
def q3():
    if teste_pearson[1] > 0.05:
        return True
    else:
        return False

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Um _box plot_ também poderia ajudar a entender a resposta.

## Questão 4

Realize uma transformação logarítmica em na amostra de `weight` da questão 3 e repita o mesmo procedimento. Podemos afirmar a normalidade da variável transformada ao nível de significância de 5%? Responda com um boolean (`True` ou `False`).

In [ ]:
w_amostra_log = np.log(w_amostra)
teste_pearson_log = sct.normaltest(w_amostra_log)
print(teste_pearson_log)
print(teste_pearson_log[1])

NormaltestResult(statistic=45.91534331977353, pvalue=1.0705572101256944e-10)
1.0705572101256944e-10

In [ ]:
def q4():
    if teste_pearson_log[1] > 0.05:
        return True
    else:
        return False

__Para refletir__:

* Plote o histograma dessa variável (com, por exemplo, `bins=25`). A forma do gráfico e o resultado do teste são condizentes? Por que?
* Você esperava um resultado diferente agora?

> __Para as questão 5 6 e 7 a seguir considere todos testes efetuados ao nível de significância de 5%__.

## Questão 5

Obtenha todos atletas brasileiros, norte-americanos e canadenses em `DataFrame`s chamados `bra`, `usa` e `can`,respectivamente. Realize um teste de hipóteses para comparação das médias das alturas (`height`) para amostras independentes e variâncias diferentes com a função `scipy.stats.ttest_ind()` entre `bra` e `usa`. Podemos afirmar que as médias são estatisticamente iguais? Responda com um boolean (`True` ou `False`).

In [ ]:
athletes.head(3)

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1

In [ ]:
h_bra = athletes.query('nationality == "BRA"')['height'].dropna()
h_bra.count()

476

In [ ]:
h_bra = athletes[athletes.nationality == "BRA"]['height'].dropna()
h_usa = athletes[athletes.nationality == "USA"]['height'].dropna()
h_can = athletes[athletes.nationality == "CAN"]['height'].dropna()
print(h_bra.count(), h_usa.count(), h_can.count() )

476 560 320

In [ ]:
h_bra_usa = sct.ttest_ind(h_bra, h_usa, equal_var=False)
print(h_bra_usa)
print(h_bra_usa[1])

Ttest_indResult(statistic=-3.2232436467501553, pvalue=0.0013080041830144061)
0.0013080041830144061

In [ ]:
def q5():
    if h_bra_usa[1] > 0.05:
        return True
    else:
        return False

## Questão 6

Repita o procedimento da questão 5, mas agora entre as alturas de `bra` e `can`. Podemos afimar agora que as médias são estatisticamente iguais? Reponda com um boolean (`True` ou `False`).

In [ ]:
h_bra_can = sct.ttest_ind(h_bra, h_can, equal_var=False)
print(h_bra_can)
print(h_bra_can[1])

Ttest_indResult(statistic=0.638930491436537, pvalue=0.5230827295443041)
0.5230827295443041

In [ ]:
def q6():
    if h_bra_can[1] > 0.05:
        return True
    else:
        return False

## Questão 7

Repita o procedimento da questão 6, mas agora entre as alturas de `usa` e `can`. Qual o valor do p-valor retornado? Responda como um único escalar arredondado para oito casas decimais.

In [ ]:
h_usa_can = sct.ttest_ind(h_usa, h_can, equal_var=False)
print(h_usa_can)
print(h_usa_can[1])

Ttest_indResult(statistic=3.516987632488539, pvalue=0.00046601293473888875)
0.00046601293473888875

In [ ]:
def q7():
    return float(round(h_usa_can[1],8))

In [ ]:
q7()

0.00046601

__Para refletir__:

* O resultado faz sentido?
* Você consegue interpretar esse p-valor?
* Você consegue chegar a esse valor de p-valor a partir da variável de estatística?